# --- Ansible Configuration File
# --- This Ansible configuration file defines the location of the dynamic inventory, disables host key checking, and sets a timeout for SSH connections.
# --- Este archivo de configuración de Ansible define la ubicación del inventario dinámico, desactiva la verificación de claves de host y establece un tiempo de espera para las conexiones SSH.
[defaults]
inventory = aws_ec2.yml
host_key_checking = False
timeout = 30
# Le decimos a Ansible dónde buscar la clave maestra para desencriptar en vuelo
vault_password_file = .vault_password

[inventory]
enable_plugins = aws_ec2
